! special
*.foreground:   #ebdbb2
*.background:   #32302f
*.cursorColor:  #ebdbb2
! black
*.color0:       #32302f
*.color8:       #928374
! red
*.color1:       #cc241d
*.color9:       #fb4934
! green
*.color2:       #98971a
*.color10:      #b8bb26
! yellow
*.color3:       #d79921
*.color11:      #fabd2f
! blue
*.color4:       #458588
*.color12:      #83a598
! magenta
*.color5:       #b16286
*.color13:      #d3869b
! cyan
*.color6:       #689d6a
*.color14:      #8ec07c
! white
*.color7:       #a89984
*.color15:      #ebdbb2

!!!fontconfig
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!!!urxvt settings
URxvt.font: xft:Inconsolata,xft:Source Code Pro
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.perl-ext-common: default,keyboard-select,url-select
!url
URxvt.matcher.button: 1
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.C-u: perl:url-select:select_next
!keyboard-select
URxvt.keysym.C-v: perl:keyboard-select:activate

!!!rofi
rofi.modi: window,drun,ssh
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #282828, #282828, #a89984
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #282828, #ebdbb2, #32302f, #458588, #fbf1c7
rofi.color-active: #d79921, #282828, #d79921, #fabd2f, #282828 
rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, #282828 
! seperator
rofi.separator-style: solid

! font
rofi.font: Source Sans Pro 12
! monitor rofi appears on
rofi.monitor: -1
! mode sidebar selector
rofi.sidebar-mode: true
